.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  border: 2px dashed rgba(0, 0, 0, 0.15);
  margin: 16px;
  border-radius: 8px;
  font-size: 16px;

  &.has-songs {
    padding: 32px 0;
    flex: none;
    margin: 16px 16px 0;
    flex-shrink: 0;
  }

  &.only-error {
    margin-bottom: 16px;
  }

  &.disabled {
    color: #bfbfbf;
    cursor: not-allowed;
  }

  .drop-mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.05);

    &.is-dragging {
      display: block;
    }
  }
}

.select-link {
  margin-left: 2px;
  cursor: pointer;

  &.disabled {
    color: #bfbfbf;
    cursor: not-allowed;
  }
}

.upload-icon {
  font-size: 32px;
  color: #333333;
  margin-bottom: 8px;
}

.upload-wrapper {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.select-link {
  color: #e75f4e;
  margin-left: 2px;
  cursor: pointer;

  &:hover {
    color: #d25647;
  }

  &.disabled {
    color: #bfbfbf;
  }
}

.upload-icon {
  font-size: 32px;
  color: #333333;
  margin-bottom: 8px;

  &.disabled {
    color: #bfbfbf;
  }
}

.error {
  color: #ff4d4f;
  max-width: 360px;
}

.success {
  color: #52c41a;
}

.warn {
  color: #faad14;
}

.edit,
.delete {
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: #c2463a;
  }
}

.edit {
  margin-right: 12px;
}

.delete-content {
  line-height: 18px;
}
