.input {
  display: block;
  width: 100%;
  margin-top: 8px;
}

.match-tip {
  margin-top: 8px;
  color: #a1a1a1;
  line-height: 18px;
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}
