.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.container {
  margin-top: 16px;
}

.list {
  margin-top: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
