.container {
  flex: 1;
  overflow-y: auto;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 16px;
}

.album {
  display: flex;
  align-items: center;
}

.album-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.edit,
.delete {
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: #c2463a;
  }
}

.edit {
  margin-right: 12px;
}

.delete-content {
  line-height: 18px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #b9b9b9;
}

.link {
  cursor: pointer;

  &:hover {
    color: #c2463a;
  }
}
